dropdown-comp {

	.extendHeight {
		height: 115px !important;
	}

	.dropdown-container {
		width: 200px;
		height: 25px;
		border: 1px solid #000000;
		margin: 0 auto;
		background-color: #333;
		.header {
			border-bottom: 1px solid #000;
			height: 25px;
		}
		.list-container {
			overflow: scroll;
			height: 90px;
			.droplist {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					border-bottom: 1px solid #000;
					display: block;
				}
			}
		}

		.clear-list {
		    float: right;
		    font-size: 12px;
		    margin-top: 8px;
		}
	}
}