<div 
	[ngClass]="{ 'extendHeight': toggleList }"
	class="dropdown-container" >
	<i 
		(click)="showDropDown()"
		[ngClass]="{ 'rotateMe': toggleList }"
		class=" arrow fa fa-angle-right" 
		aria-hidden="true"></i>
	<div 
		(click)="showDropDown()" 
		class="header" >Color: {{ color }}</div>
	<div 
	class="list-container" 
	[hidden]="!toggleList" >
		<ul class="droplist" >
			<li 
				(click)="color = listColor "
				*ngFor=" let listColor of colorList " >
				{{ listColor }}
			</li>
		</ul>
	</div>
	<span 
		[hidden]="toggleList"
		(click)=" color = '' "
		class="clear-list" >
		clear list
	</span>
</div>